body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 3;
    background-color: #9b9494;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}

.left-section h1 {
    font-size: 46px;
    color: #000000;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 20px;
    line-height: 1.8;
}

.left-section ul {
    font-size: 20px;
    line-height: 1.8;
}

.right-section {
    flex: 1;
    background-color: #ffffff;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.right-section p {
    max-width: 400px;
    font-size: 16px white;
    line-height: 1.6;
}
